<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'institutions_admin' %}">Instipass Admin</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'institutions_admin' %}">Institutions</a>
          <li>
            <a class="nav-link active" aria-current="page"  href="{% url 'adminLogout' %}?next=institutions">Logout</a>

          </li>
          <li>
            <a class="nav-link active" aria-current="page" href="{% url 'apiAccess' %}">Apiaccesslogs</a>
          </li>
         
        </ul>
        {% if institutions or students or apiaccesslogs %}
        <form class="d-flex" role="search" method="GET">
          <!-- Preserve existing query parameters except 'querry' -->
          {% for key, value in request.GET.items %}
              {% if key != 'querry' %}
                  <input type="hidden" name="{{ key }}" value="{{ value }}">
              {% endif %}
          {% endfor %}
      
          <!-- Search input for 'querry' -->
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                 name="querry" value="{{ request.GET.querry|default:'' }}">
          <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
        {% endif %}
      </div>
    </div>
  </nav>